.link-book {
    color: white;
}
.link-book:hover {
    color: gray;
}
.book-index .table tbody tr:hover {
    background-color: #2658a1;
}
.book-search {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background: rgba(238, 238, 238, 0.5);
}

.book-search .form-book {
    padding: 1rem;
    background: #ffffff;
    border: 1px solid;
    border-radius: 5px;
}

.book-search .form-group + .form-group {
    margin-top: 0.5rem;
}

.book-search .form-book .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-sort-book {
    display: none;
}

.icon-asc {
    display: none;
}

.btn-asc .icon-asc {
    display: block;
}
.btn-asc .icon-desc {
    display: none;
}
.w-20 {
    width: 20vw;
    max-width: 20vw;
}
.pagination li a {
    color: white;
}
.pagination li.active a {
    background-color: dimgrey;
}
.pagination li:hover {
    background-color: darkgray;
}
@media (max-width: 768px) {
    .create-book-wrapper {
        display: none;
    }

    .form-sort-book {
        display: flex;
        flex-flow: row nowrap;
    }
}
@media (max-width: 992px) {
    .table .mobile-hide  {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .book-search {
        background: rgba(0, 0, 0, 0.5);
    }

    .book-search .form-book {
        background: #475569;
    }
}
