.book-list {
    list-style-type: none;
    padding: 0;
}
.book-list li + li {
    margin-top: 0.5rem;
}
.book {
    display: flex;
    flex-flow: row nowrap;

}
.info {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 52px);
    text-decoration: none;
}
h5, h6 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h5 + h6 {
    margin-bottom: 0;
}
h6 {
    color: gray;
}
.info-collapsed {

}
.info-collapsed span {
    display: initial;
}
.info-collapsed span + span {
    margin-left: 5px;
}
p.description {
    color: grey;
    font-size: 12px;
}
.preview {
    margin-right: 5px;
    height: auto;
}
.preview svg {

}
.preview img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 5px;
}

.info-collapsed {
    display: none;
}
input[type="checkbox"]:checked + a .info-collapsed {
    display: block;
}
.pagination {
    display: none;
}

.book-search, .book-sort {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background: rgba(238, 238, 238, 0.5);
}

.book-search .form-filter-book, .book-sort .sort-list {
    padding: 1rem;
    background: #ffffff;
    border: 1px solid;
    border-radius: 5px;
}

.book-search .form-group + .form-group {
    margin-top: 0.5rem;
}

.book-search .form-filter-book .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-wrapper {
    display: flex;
    flex-flow: row nowrap;
}
.sort-list {
    list-style-type: none;
}
.sort-list .sort-li a {
    font-size: 1.5rem;
    padding: 0.5rem;
}
.sort-list .sort-li + .sort-li {
    margin-top: 1rem;
}


@media (max-width: 768px) {
    .create-book-wrapper {
        display: none;
    }
}
@media (max-width: 992px) {
    .table .mobile-hide  {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .book-search, .book-sort {
        background: rgba(0, 0, 0, 0.5);
    }

    .book-search .form-filter-book, .book-sort .sort-list {
        background: #475569;
    }
}
