.table tr th:first-of-type, td:first-of-type {
    min-width: 4rem;
}
.table .form-control {
    padding: 0.375rem;
}

.pagination {
    margin-bottom: 0;
}

.pagination li {
    width: 2rem;
    height: 2rem;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.pagination li + li {
    margin-left: 0.5rem;
}
.pagination li a, span {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: auto;
}

@media (max-width: 768px) {
    .table-mobile thead {
        display: none;
    }

    .table-mobile tbody,
    .table-mobile tr,
    .table-mobile td {
        display: block;
    }

    .table-mobile tr {
        margin-bottom: 1rem;
    }
    .table-mobile.table-bordered tr {
        border-radius: 5px;
        border-width: 1px!important;
    }
    .table-mobile td {
        padding: 5px;
        text-align: right;
        transition: all 0.3s ease;
        min-height: 2rem;
    }
    .table-mobile .table-bordered td {
        border-width: 0!important;
    }

    .table-mobile td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 400;
        color: #757575;
    }

    .text-truncate {
        display: none;
    }

    .pagination {
        justify-content: center;
    }

    .pagination li + li[class] {
        margin-left: 1rem;
    }
    .pagination li:not([class]) {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .table td {
        color: #ffffff;
    }
    td[data-title]:before {
        color: #ffffff;
    }
}